:root {
  --nav-height: 50px;
}

html, body {
  position: relative;
  margin: 0; /* 移除默认的外边距 */
  padding: 0; /* 移除默认的内边距 */
  width: 100%; /* 设置宽度为100% */
  height: 100%; /* 设置高度为100% */
  box-sizing: border-box; /* 确保padding和border包含在元素的宽高内 */
  overflow: hidden; /* 防止滚动条出现，除非内容超出视口 */
}

#app{
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
}

/* 浅色模式 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
